@import 'style.scss';

$main-font: 'Nunito', sans-serif;

/** Colors **/

$gold: #fffcef;
$gold-dark: #f2edd8;
$gold-darkest: #d2cbb0;
$aqua: #2c4e5f;
$yella: #ffea58;
$brown: #e0dac0;
$lightblue: #afc8d6;
$champagne: #eceade;

/*** Structure ***/

.application {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.third-inputs {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  transition: all 300ms;
}

.calculator {
  display: flex;
}

// .half-width {
//   width: 50%;
// }

.third-width {
  width: 33.33%;
}

.calc-wrapper {
  // padding: 8em 12em;
  margin: 0 auto;
}

.calc-intro {
  h2,
  p {
    max-width: 800px;
  }
}

.calc-left-half {
  width: 50%;
  padding: 0em 3em;
  min-width: 860px;
}

.calc-right-half {
  width: 50%;
  padding: 0em 3em;
  // border-left: 4px dotted $champagne;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
}

/*** Inputs ***/

.calc-inputs {
  padding: 3em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc-inputs--first {
  border-bottom: 4px dotted $champagne;
}

.calc-inputs--second {
}

.first-inputs,
.second-inputs,
.third-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: auto;
}

.third-inputs {
  min-height: 270px;
}

.calc-info-text {
  margin: 0em 1em 1em 1em;
  font-weight: 400;
  font-size: 16px;
}

/*** BTNS  & Inputs ***/

.calc-btn {
  cursor: pointer;
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid $aqua;
  background: none;
  margin: 0em 2em;
}

.calc-btn-wrap {
  display: flex;
}

.btn-single {
  position: relative;
  display: flex;
  flex-direction: column;
  p {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0.75em;
  }
}

input.panel-type-radio {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  &:checked {
    + .calc-btn {
      border: 0px;
      background: #fff;
      box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12), -3px 9px 21px rgba(0, 0, 0, 0.13);
    }
  }
}

.calc-input-wrap {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0em 1em;
    span {
      color: $aqua;
      font-size: 16px;
      font-family: $main-font;
      margin-left: 0.3em;
    }
}

.tooltip{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightblue;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  top: -30px;
  right: 35px;
   p{
    margin: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 0;
   }
}

.modal-overlay{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 15;
    &.active{
      display: block;
    }
}

.modal{
  display: none;
  width: 700px;
  height: 600px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 30%;
  z-index: 20;
  margin: auto;
  background: $gold;
  justify-content: center;
  align-items: center;
  padding: 4em;
   &.active{
    display: flex;
   }
}

.modal-text{
  position: relative;
   h3{
    font-size: 25px;
  }
}


.calc-input-wrap--range {
  flex-direction: column;
}

.calc-image-wrap {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-inputs{
  position: relative;
}

.sun {
  max-width: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.latitude-image{
  position: absolute;
  top: -82px;
  left: 4px;
  width: 187px;
  margin: auto;
  right: 0;
  bottom: 0;
}

.roofpanel {
  width: 180px;
  pointer-events: none;
  transition: all 300ms linear;
  // will-change: transform;
}

.roof-panel-1,
.east .roof-panel-2,
.west .roof-panel-2{
  fill: $yella;
}

.rooftop {
  width: 130px;
  fill: none;
  stroke: $aqua;
  stroke-width: 2px;
  transition: all 300ms linear;
  // will-change: transform;
}

.direction-output,
.degree-output {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: -45px;
  right: 20px;
}

.calc-input {
  font-family: $main-font;
  font-size: 16px;
  color: $aqua;
  padding: 1em 1.5em;
  border-radius: 999px;
  border: 0px;
  background: $gold-dark;
  margin-top: 3em;
  &:focus {
    outline: 0;
  }
}

.calc-input-wrap span{
  margin-top: 3em;
}

/*** Range  ***/

input[type='range'] {
  -webkit-appearance: none;
  margin: 40px 0;
  width: 90%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  background: $aqua;
  border-radius: 1.3px;
  border: 0px;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12), -3px 9px 85px rgba(0, 0, 0, 0.13);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: $yella;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #367ebd;
  box-shadow: none;
  border: 0px;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  background: $aqua;
  border-radius: 1.3px;
  border: 0px;
}

input[type=range]::-moz-focus-outer {
    border: 0;
    }

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12), -3px 9px 85px rgba(0, 0, 0, 0.13);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: $yella;
  cursor: pointer;
  border: 0px;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: $aqua;
  border: 0px;
  border-radius: 2.6px;
  box-shadow: none;
}
input[type='range']::-ms-fill-upper {
  background: $aqua;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: none;
}
input[type='range']::-ms-thumb {
  box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12), -3px 9px 85px rgba(0, 0, 0, 0.13);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: $yella;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: $aqua;
}
input[type='range']:focus::-ms-fill-upper {
  background: $aqua;
}
/****************/

/*** Results ***/

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
  }
}

p.result-output,
span.result-output {
  font-size: 45px;
  color: $yella;
}

.result-hr {
    border-top: 4px dotted $champagne;
    background-color: none;
    color: #2c4e5f;
    width: 100%;
    margin: 1.5em 0em;
    color: none;
    background: none;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.result-button {
  font-size: 16px;
  //display: none;
  cursor: pointer;
  border: 2px solid $aqua;
  border-radius: 999px;
  background: none;
  padding: 1.2em 3em;
  margin: 2em auto;
}

.calc-button-open,
.calc-button-toggle,
.calc-button-close{
  display: block;
  text-align: center;
  padding: 1.3em 2.5em;
  border: 2px solid $aqua;
  border-radius: 999px;
  margin: 0 auto;
  max-width: 400px;
  cursor: pointer;
  line-height: 0;
  img{
    transition: all ease-in-out .3s;
    display: inline;
    width: 15px;
    margin-left: 20px;
    vertical-align: middle;
  }
  &:hover{
    img{
      transform: translateX(5px);
    }
  }
}

.calc-button-open{
  display: none;
}

.calc-button-toggle{
  margin-top: 1.5em;
  background: $lightblue;
  border: 1px solid $lightblue;
  color: #fff;
}

.calc-button-close{
  margin-top: 4em;
  min-width: 240px;
}

.js-close-results{
  display: none;
}

.results .morepanels{
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.results .morepanels2{
  font-size: 16px; 
  max-width: 400px; 
  font-weight: regular;
}

.calc-button-close.js-close-modal{
  margin-top: 1.5em;
  &:hover{
     img{
      transform: none;
    }
  }
}
/***** MEDIA ******/

// @media screen and(max-width: 1900px) {
//   .calc-wrapper {
//     // padding: 5em 2em;
//   }
// }

@media screen and(max-width: 1400px) {
  .calc-left-half {
    width: 100%;
    min-width: 0px;
  }

  .calculator {
    min-width: 0px;
  }

  .calc-wrapper {
    // padding: 5em 2em;
  }

  .tooltip{
    right: 0px;
    top: -30px;
  }

  .calc-right-half {
    flex-direction: column;
    border-left: 0px;
    background: $gold;
    width: 90vw;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    transform: translateX(90vw);
    transition: all ease-in-out 0.3s;
    &.active {
      transform: translateX(0);
      box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12), -3px 9px 21px rgba(0, 0, 0, 0.13);
    }
  }

  .calc-button-open,
  .calc-button-close{
    display: block;
  }

  .third-inputs {
    min-height: 0px;
  }

  .modal{
    top: 25%;
  }
}

@media screen and(max-width: 840px) {

  .modal{
    width: 90%;
    height: auto;
  }

  .direction-output,
  .degree-output{
    top: 0;
  }

  .calc-inputs {
    flex-direction: column;
    padding: 1em 0em;
  }

  .sun{
    max-width: 80px;
  }

  .results{
    padding: 0em 1em;
  }

  .first-inputs,
  .second-inputs,
  .third-inputs {
    flex: inherit;
    margin: 2em 0em;
  }

  .calc-input,
  .calc-input-wrap span{
    margin-top: 0px;
  }

  .calc-btn-wrap{
    justify-content: center;
  }

  .calc-input-wrap {
    justify-content: center;
  }

  .calc-info-text {
    margin: 0em;
    margin-bottom: 2em;
    text-align: center;
  }

  .first-inputs,
  .second-inputs {
    align-items: center;
    margin: 2em 0em;
  }

  .half-width,
  .third-width {
    width: 100%;
    max-width: 400px;
  }
  .calc-right-half{
    min-width: 0px;
    z-index: 20;
  }
}

.calc-button-open,
.calc-button-toggle{
  width: 80%;
}

.calc-button-open,
.calc-button-toggle,
.calc-button-close{
  padding: 1.3em 1.5em;
}

.modal{
    top: 20%;
}

@media screen and (max-width: 620px){
  .results p{
    font-size: 25px;
  }
  p.result-output, 
  span.result-output{
    font-size: 30px;
  }

  .calc-right-half{
    padding: 0px;
  }

  .modal-text{
    p{
      font-size: 16px;
    }
    strong{
      display: block;
    }
  }

}

@media screen and(max-width: 550px) {

  .modal{
    top: 10%;
  }

  .tooltip {
    right: -20px;
    top: -20px;
  }
  .results p{
    font-size: 20px;
  }
  p.result-output, 
  span.result-output{
    font-size: 20px;
  }

  .results .morepanels{
  font-size: 16px;
  }

  .result-hr{
    margin: 0.5em 0em;
  }

  .calc-input-wrap{
    margin: 0em;
  }

  .calc-info-text{
    margin: 1em 0em;
  }

  .calc-left-half{
    width: 100%;
    margin: 0 auto;
  }

  .calc-button-open,
  .calc-button-toggle,
  .calc-button-close{
    max-width: inherit;
    font-size: 16px;
  }

  .calc-button-close{
    padding: 1em;
    margin-top: 1.5em;
  }

  .calc-btn{
    width: 70px;
    height: 70px;
    margin: 0em 0.5em;
  }
 
}
