/*
Theme Name: BlankSlate
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.4
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2017 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.clear {
  clear: both;
}
.sticky {
}
.bypostauthor {
}
.wp-caption {
}
.wp-caption-text {
}
.gallery-caption {
}
.alignright {
}
.alignleft {
}
.aligncenter {
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

$main-font: 'Nunito', sans-serif;

/** Colors **/

$gold: #fffcef;
$gold-dark: #f2edd8;
$gold-darkest: #d2cbb0;
$aqua: #2c4e5f;
$yella: #ffea58;
$brown: #e0dac0;
$lightblue: #afc8d6;

/** old 
#FFE30B
#ffea58

**/

body {
  background: $gold;
}

p,
a,
h1,
h2,
h3,
li {
  font-family: $main-font;
  color: $aqua;
}

h2,
h3 {
  margin-bottom: 0.3em;
  // margin-top: 0.7em;
}

h1 {
  line-height: 1.1;
  margin-bottom: 0.1em;
}

h2 {
  font-size: 45px;
  line-height: 1.3;
}

h3 {
  font-size: 35px;
  line-height: 1.3;
}

b,
strong {
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

a {
  font-size: 20px;
}

a[href^='tel'] {
  color: inherit;
  text-decoration: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

#wrapper {
  overflow: hidden;
}

/*** Header ***/

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  transition: all ease-in-out 0.3s;
}

@media screen and (min-width: 1200px) {
  .header.scrolled {
    height: 80px;
    background: $lightblue;
    box-shadow: 0px 5px 5px rgba(19, 19, 19, 0.06),
      -3px 3px 9px rgba(0, 0, 0, 0.08);
    .menu a {
      color: #fff;
    }
    .header-logo {
      width: 200px;
      top: 1em;
    }
    .st0 {
      fill: #fff;
    }
  }
}

.header-logo {
  position: absolute;
  z-index: 20;
  width: 250px;
  top: 1em;
  left: 2em;
}

.menu-wrapper {
  position: relative;
}

.menu {
  position: absolute;
  right: 4em;
  top: 2em;
  li {
    display: inline;
    padding: 0em 1em;
  }
  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

/*** To get white menu for specific pages (desktop) ***/
@media screen and (min-width: 1450px) {
  .page-template-page-owners .menu a,
  .page-template-page-how-to .menu a,
  .page-template-page-contact .menu a,
  .page-template-page-sunpark .menu a,
  .blog .menu a {
    color: #fff;
  }
}

/***/

.current_page_item {
  position: relative;
}

.current_page_item a:after {
  position: absolute;
  content: '';
  width: 30%;
  top: 25px;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  z-index: 3525245;
  background: $aqua;
}

.hamburger {
  position: fixed;
  top: 1.2em;
  right: 1.2em;
  z-index: 100;
  padding: 1em;
  background: $lightblue;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12),
    -3px 9px 21px rgba(0, 0, 0, 0.13);
}

.line-wrapper {
  position: relative;
  height: 25px;
  width: 35px;
}

.line {
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 50px;
  transition: all ease-in-out 0.3s;
  right: 0;
}

.line-1 {
  top: 0;
  &.active {
    transform: rotate(-45deg);
    top: 40%;
  }
}

.line-2 {
  top: 10px;
  &.active {
    display: none;
  }
}

.line-3 {
  bottom: 0;
  &.active {
    transform: rotate(45deg);
    bottom: 40%;
  }
}

/** Footer **/

.footer {
  background: $aqua;
  position: relative;
  h3 {
    color: white;
    font-size: 40px;
  }
}

.footer .column-structure {
  padding: 6em 14em;
}

.footer-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .column-two-third {
    padding: 4em;
  }
}

.column-1 {
  max-width: 700px;
  width: 50%;
  p,
  a {
    color: white;
    font-size: 20px;
  }
}

.adress,
.email,
.number {
  display: flex;
  align-items: center;
}

.footer-icon {
  margin: 1em 0em;
  p,
  a {
    display: block;
    margin-left: 1em;
  }
  img {
    transform: translateY(-5px);
  }
}

.footer-icon img {
  width: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-us {
  margin-top: 1em;
}

.column-2 {
  background: $gold;
  border-radius: 20px;
  position: relative;
  width: 50%;
  margin-left: 2em;
  h3 {
    color: $aqua;
  }
  p {
    max-width: 700px;
  }
}

.footer-chair {
  position: absolute;
  right: 2%;
  top: 9%;
  max-width: 350px;
}

.email a {
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: flex-start;
  height: 4em;
  margin-bottom: 2em;
  a {
    max-width: 50px;
    margin: 0em 1em 0em 0em;
    width: 100%;
  }
}

.sign-up {
  input {
    background: $gold-dark;
    border: none;
    margin-right: 0.5em;
    width: 59%;
    color: #fff;
    font-size: 16px;
    color: $aqua;
  }
  button {
    background-color: $yella;
    border: none;
    width: 38%;
    font-size: 16px;
    color: $aqua;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

.sign-up input,
.sign-up button {
  border-radius: 999px;
  padding: 1em 2em;
  font-family: $main-font;
  transition: all ease-in-out 0.3s;
  &:focus {
    outline: 0;
    box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.22),
      -3px 9px 85px rgba(0, 0, 0, 0);
  }
}

.footer-logo {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  padding-bottom: 3em;
}

.peanuts {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  text-decoration: none;
}

/*** Assets ***/

.dotted-line {
  background-color: none;
  border-style: dashed;
  border-top: 4px dashed $aqua;
  margin: 2em 0em 2.5em 0em;
}

.dotted-line__white {
  border-top: 4px dotted #fff;
  background: none;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.button-wrap {
  display: block;
  margin: 1.5em 0em;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  &:hover > .button-round {
    transform: translateX(7px);
  }
}

.button-round {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  width: 35px;
  height: 35px;
  border: 1px solid #2c4d5f;
  border-radius: 50%;
  margin: 0em 0.7em 0em 0em;
  img {
    max-width: 15px;
  }
}

/*** Grid system ***/

.column-structure {
  display: flex;
  padding: 8em 12em;
}

.column-third {
  width: 33.33%;
  padding: 0em 4em;
}

.column-two-third {
  width: 66.66%;
  padding: 0em 4em;
}

.column-half {
  width: 50%;
  padding: 0em 4em;
}

.column-sixty {
  width: 60%;
  padding: 0em 4em;
}

.column-fourty {
  width: 40%;
  padding: 0em 4em;
}

.column-structure ul {
  margin-bottom: 1.5em;
}

.column-structure li {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 1.2em;
  font-weight: 400;
  font-size: 20px;
}

/*** Homepage ***/

.home-main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-position: center center;
  background-size: cover;
  min-height: 1200px;
  // overflow-x: hidden;
}

.title-box {
  display: flex;
  flex-direction: column;
  z-index: 20;
  padding-top: 13%;
  padding-left: 21em;
}

.home-title {
  font-size: 120px;
  font-weight: 500;
  margin-bottom: 0em;
}

.main-text {
  max-width: 850px;
  font-size: 24px;
}

.main-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-illustration {
  position: absolute;
  width: 90%;
  right: 0;
  bottom: -100px;
  z-index: 5;
}

/*** Infographic section ***/

.infographics {
  padding: 8em 30em;
}

.infographic-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.infographic-third {
  width: 33.33%;
  max-height: 600px;
  min-height: 400px;
}

.infographic-content {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 602px;
  .button-wrap {
    text-align: center;
    margin-bottom: auto;
  }
}

.infographic-item {
  width: 100%;
  height: auto;
  max-width: 360px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  flex-grow: 1;
}

.infographic-p {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.news-info {
  h2 {
    font-weight: bold;
    text-align: center;
    border-top: 3px solid $aqua;
    border-bottom: 3px solid $aqua;
    line-height: 0;
    padding: 1em;
    font-size: 25px;
    text-transform: uppercase;
  }
  h3 {
    font-weight: bold;
    font-size: 25px;
  }
}

$dots: 4px dotted #d4cfb8;

.dots-1,
.dots-2,
.dots-3,
.dots-4,
.dots-5,
.dots-6 {
  position: relative;
}

.dots-1:before,
.dots-2:before,
.dots-3:before,
.dots-4:before,
.dots-5:before,
.dots-6:before,
.dots-1:after,
.dots-2:after,
.dots-3:after,
.dots-4:after,
.dots-5:after,
.dots-6:after {
  content: '';
  position: absolute;
}

.dots-3:before {
  height: 100%;
  border-right: $dots;
  left: 0;
  top: 0;
  height: 95%;
}

.dots-1:after {
  height: 100%;
  border-right: $dots;
  right: 0;
  top: 0;
  height: 95%;
}

.dots-4:after {
  height: 100%;
  border-right: $dots;
  right: 0;
  bottom: 0;
  height: 95%;
}

.dots-5:after {
  height: 100%;
  border-right: $dots;
  right: -4px;
  bottom: 0;
  height: 95%;
}

.dots-4:before {
  border-top: $dots;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
}

.dots-5:before {
  border-top: $dots;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
}

.dots-6:before {
  border-top: $dots;
  top: 0;
  right: 0;
  width: 95%;
}

/** Masonry grid on start page **/

// .infographics{
// 	padding: 8em 16em;
// }

// .column-wrapper{
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// }

// .one-third{
// 	width: 33.33%;
// 	display: block;
// 	border-right: 3px dotted $gold-darkest;
// }

// .two-third{
// 	width: 66.66%;
// 	display: inline;
// }

// .right-side-wrapper{
// 	display: flex;
// 	flex-direction: row;
// }

// .right-side-single, .single-big{
// 	// background: black;
//     width: 100%;
//     height: 100%;
// }

// .sixty{
// 	width: 60%;
// }

// .fourty{
// 	width: 40%;
// 	display: block;
// 	border-left: 3px dotted $gold-darkest;
// }

// .news-single{
// 	height: 100%;
// 	width: 100%;
// 	// background: blue;
// }

// .info-1, .info-2{
// 	// background: green;
// 	width: 100%;
// 	height: 0;
// 	padding-bottom: 108.7%;
// 	position: relative;
// 	overflow: hidden;
// }

// .info-2{
// 	border-top: 3px dotted $gold-darkest;
// }

// .news-single{
// 	height: 0;
// 	padding-bottom: 36.7%;
// 	border-top: 3px dotted $gold-darkest;
// 	position: relative;
// }

// .single-big{
// 	height: 0;
// 	padding-bottom: 120%;
// }

// .right-side-single{
// 	height: 0;
// 	padding-bottom: 90%;
// }

// .right-side-single__two{
// 	border-top: 3px dotted $gold-darkest;
// }

// .infographic-item{
// 	width: 80%;
// 	display: block;
// 	margin: 0 auto;
// }

// .infographic-p{
// 	position: absolute;
// 	bottom: 5%;
// 	left: 0;
// 	right: 0;
// 	margin: auto;
// 	text-align: center;
// 	max-width: 350px;
// }

// .info-link-nav{
// 	transition: all ease-in-out .3s;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	opacity: 0;
// 	visibility: hidden;
//     position: absolute;
//     width: 90px;
//     height: 90px;
//     border-radius: 50%;
//     bottom: 5%;
//     right: 5%;
//     background: #ffea58;
//     box-shadow: 1px 7px 44px rgba(19, 19, 19, 0.22), -3px 7px 85px transparent;
//     img{
//     	transition: all ease-in-out .5s;
//     	width: 25px;
//     	transform: translateX(-5px);
//     }
// }

// .info-link{
// 	cursor: pointer;
// 	display: block;
// 	position: relative;
// }

// .info-link:hover > .info-link-nav{
// 	visibility: visible;
// 	opacity: 1;
// 	img{
// 		transform: translateX(0);
// 	}
// }

/** News area **/

.news-first-half {
  display: flex;
  justify-content: center;
  width: 60%;
}

.news-second-half {
  display: block;
  width: 500px;
  width: 40%;
  max-height: 321px;
  height: 9px;
  padding-bottom: 34%;
  margin: 2em 0em;
  background-position: center center;
  background-size: cover;
  img {
    width: 100%;
    height: auto;
  }
}

.news-content-box {
  padding: 2em;
  padding-right: 3em;
}

.news-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  h2 {
    border-bottom: 2px solid #2c4d5f;
    width: 120px;
    margin-top: 0.7em;
    font-size: 35px;
  }
  h3 {
    margin-top: 1em;
    font-size: 30px;
  }
}

/*****************************************************************************/

.page-main {
  background-position: center center;
  background-size: cover;
  height: 80vh;
  min-height: 1050px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.page-title-box {
  padding: 5em 15em;
}

.page-title {
  margin-bottom: 0.2em;
  max-width: 1000px;
  letter-spacing: 2px;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
}

.page-text {
  max-width: 700px;
  font-size: 20px;
  color: #fff;
}

.everybody-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}

.different-options {
  padding: 8em 0em;
  background: $gold-dark;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h3 {
    text-align: center;
  }
}

.options-box {
  width: 50%;
  margin: 0 auto;
  margin-top: 5em;
  position: relative;
}

.option-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    background: none;
    border: 1px solid $aqua;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 80%;
    }
  }
}

.option-buttons a.active {
  background: white;
  border: 1px solid #fff;
  box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12),
    -3px 9px 85px rgba(0, 0, 0, 0.13);
}

.option-buttons:after {
  content: '';
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: rgba(44, 78, 95, 0.18);
  height: 3px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  border-radius: 999px;
  z-index: 10;
}

.js-option-button-1:after,
.js-option-button-2:after,
.js-option-button-3:after,
.js-option-button-4:after {
  content: '';
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 135px;
  background: $yella;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
  box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.12),
    -3px 9px 85px rgba(0, 0, 0, 0.13);
  transition: all ease-in-out 0.2s;
  cursor: initial;
  pointer-events: none;
}

.js-option-button-1.active:after,
.js-option-button-2.active:after,
.js-option-button-3.active:after,
.js-option-button-4.active:after {
  visibility: visible;
  opacity: 1;
}

.option-content {
  margin-top: 9em;
}

.option {
}

.option-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  h3 {
    text-align: left;
  }
}

.option-image {
  width: 50%;
  padding-left: 5em;
}

.option-image img {
  width: 100%;
  height: auto;
  max-width: 550px;
}

.js-option-1,
.js-option-2,
.js-option-3,
.js-option-4 {
  display: none;
}

.splashes img {
  margin: 2em;
}

/*** Testimonials ***/

.testimonials {
  background: $gold-dark;
}

.testimonials .column-structure {
  padding: 0px;
  padding-left: 12em;
  align-items: center;
}

.testimonials .column-third {
  padding: 8em 3em;
  position: relative;
}

.testimonials .column-two-third {
  padding: 0px;
}

.testimonial-image {
  padding: 0px;
  margin-left: 2em;
  height: 70vh;
  background-size: cover;
  background-position: center center;
}

.testimonial-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-top: 4em;
  cursor: pointer;
  position: absolute;
  bottom: 5em;
  left: 0;
  right: 0;
  margin: auto;
}

.testimonial-button-text {
  font-size: 16px;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  margin: auto;
}

.testimonial-button {
  border: 2px solid $aqua;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.js-testimonial-1,
.js-testimonial-2,
.js-testimonial-3 {
  display: none;
}

.js-testimonial-image-1,
.js-testimonial-image-2,
.js-testimonial-image-3 {
  display: none;
}

.js-testimonial-button-1.active,
.js-testimonial-button-2.active,
.js-testimonial-button-3.active {
  background: $aqua;
}

/*** Contact and form ***/

.contact-form {
  h3 {
    padding-left: 5px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
}

.pirate_forms_thankyou_wrap {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 5px;
}

.pirate_forms_wrap {
  max-width: 800px;
  margin: 0 auto;
}

.pirate_forms_three_inputs_wrap {
  display: flex;
}

.pirate-forms-fields-container .form_field_wrap {
  width: 33.33%;
}

.pirate-forms-fields-container .contact_message_wrap {
  width: 100%;
}

.pirate_forms_three_inputs_wrap .form_field_wrap input,
.pirate-forms-fields-container .contact_message_wrap textarea {
  background: $gold-dark;
  border: none;
  padding: 1.5em;
  font-size: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: $main-font;
  transition: all ease-in-out 0.3s;
}

.pirate-forms-fields-container .contact_message_wrap textarea {
  min-height: 300px;
  resize: none;
}

.pirate_forms_three_inputs_wrap .form_field_wrap input:focus,
.pirate-forms-fields-container .contact_message_wrap textarea:focus,
body .pirate_forms_wrap .form_field_wrap .pirate-forms-submit-button:focus {
  outline: 0;
  box-shadow: 0px 5px 31px rgba(19, 19, 19, 0.22),
    -3px 9px 85px rgba(0, 0, 0, 0);
}

body .pirate_forms_wrap .form_field_wrap,
.widget .pirate_forms_wrap .form_field_wrap {
  margin-bottom: 10px;
}

body .pirate-forms-fields-container .form_field_wrap {
  padding-left: 5px;
  padding-right: 5px;
}

body .pirate_forms_wrap .form_field_wrap .pirate-forms-submit-button {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 1.5em;
  border: 0px;
  font-size: 16px;
  border-radius: 999px;
  background: $yella;
  color: $aqua;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $main-font;
}

/*** Employee section ***/

.employee {
  h3 {
    margin-top: 1em;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.employees .column-structure {
  padding-top: 0px;
  flex-wrap: wrap;
}

.employees .column-third {
  margin: 2em 0em;
}

/*** Single post ***/

.single-post #content.column-structure {
  flex-direction: column;
  min-height: 700px;
  padding-top: 12em;
}

.single-post h1 {
  font-size: 45px;
}

.footer-single {
}

.single-post .will-be-hidden {
  display: none;
}

/** Archive **/

.archive-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .type-post {
    display: flex;
    flex-direction: column;
  }
}

.post-wrapper .wp-post-image {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.single-post #content .column-third {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.single-post .entry-title {
  margin-bottom: 0.5em;
}

.single-post .attachment-archiveThumbnail {
  margin-bottom: 3em;
}

.button-back img {
  transform: rotate(180deg);
}

.button-back .button-round {
  margin-left: 0em;
}

.type-post h2 {
  font-size: 30px;
  max-width: 576px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.entry-meta {
  margin: 0.5em 0em;
}

.entry-date {
  font-family: $main-font;
  color: $aqua;
}

/*** MEDIA ****/

@media screen and (max-width: 2080px) {
  .column-structure,
  .infographics {
    padding: 6em 5em;
  }

  .footer .column-structure {
    padding: 6em 10em;
  }

  .page-title-box {
    padding: 5em 9em;
  }
  .testimonials .column-structure {
    padding-left: 7em;
  }
  .home-main {
    height: 80vh;
  }
  .title-box {
    padding-left: 11em;
  }
}

@media screen and (max-width: 1950px) {
  .main-illustration {
    width: 100%;
  }
}

@media screen and (max-width: 1900px) {
  .column-structure {
    padding: 6em 5em;
  }

  .footer .column-structure {
    padding: 6em 6em;
  }

  .column-third,
  .column-two-third,
  .column-half,
  .column-sixty,
  .column-fourty {
    padding: 0em 2em;
  }
  .testimonials .column-structure {
    padding-left: 4em;
  }

  .page-title {
    font-size: 80px;
  }
  .options-box {
    width: 70%;
  }
  .footer-chair {
    right: 40px;
  }
  .home-main {
    min-height: 1100px;
  }
}

@media screen and (max-width: 1800px) {
  .home-main {
    min-height: 1000px;
  }
}

@media screen and (max-width: 1700px) {
  .footer-chair {
    right: 20px;
    max-width: 300px;
  }
}

@media screen and (max-width: 1600px) {
  .column-structure,
  .infographics {
    padding: 6em 2em;
  }
  .page-title-box {
    padding: 5em 4em;
  }
  .column-third,
  .column-two-third,
  .column-half,
  .column-sixty,
  .column-fourty {
    padding: 0em 2em;
  }
  .testimonials .column-structure {
    padding-left: 0em;
  }
  .options-box {
    width: 80%;
  }
  .footer-chair {
    right: 0px;
    top: 18%;
  }
  .title-box {
    padding-top: 20%;
    padding-left: 8em;
  }
}

@media screen and (max-width: 1550px) {
  .title-box {
    padding-top: 18%;
  }

  .column-1,
  .column-2 {
    width: 50%;
  }
  .footer-chair {
    display: none;
    // right: 0;
    //    top: -14%;
    //    left: 134px;
    //    margin: auto;
    // }
  }

  .footer-column .column-two-third {
    width: 100%;
    padding: 2em;
    padding-top: 2em;
    // padding-top: 17em;
  }
}

@media screen and (max-width: 1500px) {
  .news-content-box {
    padding: 0em 2em;
    .button-wrap {
      margin: 1em 0em;
    }
  }
}

@media screen and (max-width: 1400px) {
  .home-main {
    height: 75vh;
  }
}

@media screen and (max-width: 1450px) {
  .home-main {
    height: 60vh;
    min-height: 1050px;
  }

  .column-1,
  .column-2 {
    width: 100%;
    max-width: 800px;
    margin: 2em 0em;
  }

  .footer-content {
    flex-direction: column;
  }

  .column-2 {
    width: 100%;
    padding: 1em;
  }

  .hamburger {
    display: flex;
  }

  .header {
    position: absolute;
  }

  .menu-wrapper {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: $yella;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100vw);
    transition: all ease-in-out 0.3s;
    &.active {
      transform: translateX(0);
    }
  }

  .header-logo {
    top: 1.5em;
    left: 1em;
  }

  .menu {
    position: static;
    a {
      font-size: 24px;
    }
  }

  .menu li {
    display: block;
    margin: 2em 0em;
  }

  .current_page_item a:after {
    position: absolute;
    content: '';
    width: 5px;
    border-radius: 999px;
    top: 0;
    right: initial;
    height: 100%;
    left: -10px;
    margin: auto;
    color: black;
    z-index: 3525245;
    background: #2c4e5f;
  }
}

@media screen and (max-width: 1400px) {
  .home-main {
    height: 50vh;
    min-height: 950px;
  }

  .home-title {
    font-size: 100px;
    margin-bottom: 0em;
  }
  .column-structure,
  .infographics {
    padding: 3em 1em;
  }
  .page-title-box {
    padding: 3em 2em;
  }

  .different-options {
    padding: 3em 1em;
  }
  .column-third,
  .column-two-third,
  .column-half,
  .column-sixty,
  .column-fourty {
    width: 50%;
  }
  .page-title {
    font-size: 60px;
  }
  .title-box {
    padding-left: 3em;
  }
  .testimonials .column-third,
  .testimonials .column-two-third {
    width: 100%;
  }

  .testimonials .column-structure {
    flex-direction: column-reverse;
  }

  .single-testimonial {
    max-width: 700px;
    margin: 0 auto;
  }

  .testimonial-image {
    margin: 0em;
  }

  .testimonials .column-third {
    padding: 6em 3em;
    padding-top: 3em;
  }

  .testimonials .column-two-third {
    margin: 0em;
  }

  .testimonial-buttons {
    bottom: 3em;
    width: 120px;
  }

  .testimonial-button-text {
    bottom: 1em;
  }

  .testimonial-button {
    border: 2px solid $aqua;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .single-post #content.column-structure {
    padding-top: 10em;
  }
}

@media screen and (max-width: 1250px) {
  .title-box {
    padding-top: 23%;
  }

  .column-structure {
    flex-direction: column;
    align-items: center;
  }
  .column-third,
  .column-two-third,
  .column-half,
  .column-sixty,
  .column-fourty {
    width: 100%;
    max-width: 800px;
    margin: 2em 0em;
  }

  .testimonials .column-two-third {
    max-width: 100%;
  }

  .page-title-box {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
  .peanuts {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  .splashes img {
    margin: 3em auto;
    width: 60%;
    display: block;
  }

  .infographic-content {
    min-height: 552px;
  }
}

@media screen and (max-width: 1200px) {
  .column-wrapper,
  .right-side-wrapper {
    flex-direction: column;
  }

  .one-third,
  .sixty,
  .fourty,
  .news-area {
    width: 100vw;
  }
  .fourty,
  .news-single,
  .info-1,
  .info-2,
  .right-side-single__two,
  .one-third,
  .right-side-single,
  .single-big {
    border: 0px;
    border-bottom: 3px dotted $gold-darkest;
  }

  .right-side-single {
    padding: 1em;
    height: auto;
  }

  .option-image img {
    max-width: 800px;
  }

  .pirate_forms_wrap {
    margin-top: 0px;
  }

  .infographic-third {
    width: 50%;
  }

  .infographic-content {
    padding: 2em;
  }

  .infographic-item {
    width: 90%;
  }

  .dots-3:before {
    top: 0;
    width: 95%;
    left: 0;
    right: initial;
    border-right: none;
    border-top: $dots;
    height: 0px;
  }

  .dots-4:before {
    right: 0;
    left: initial;
  }

  .dots-4:after {
    left: 0;
    top: 5%;
    height: 90%;
    right: initial;
  }

  .dots-1 {
    right: -4px;
  }

  .page-title-box {
    padding: 2em 2em;
  }
  .column-structure {
    padding: 2em 2em;
  }
  .options-box {
    width: 90%;
  }
  .option {
    flex-direction: column;
    align-items: center;
  }
  .option-text {
    width: 100%;
    max-width: 800px;
  }
  .option-image {
    width: 100%;
    margin-top: 2em;
    max-width: 800px;
    padding-left: 0px;
  }

  .option-content {
    margin-top: 6em;
  }

  .options-box {
    margin-top: 3em;
  }

  .footer .column-structure {
    padding: 0em;
  }

  .column-1 {
    padding: 0em 1em;
  }
}

@media screen and (max-width: 960px) {
  .title-box {
    max-width: 800px;
    padding-left: 2em;
    padding-right: 2em;
  }
  .home-main {
    min-height: 740px;
  }

  .home-title {
    font-size: 60px;
  }

  .main-text {
    font-size: 20px;
  }
  .main-illustration {
    width: 110%;
    bottom: -60px;
  }
}
@media screen and (max-width: 860px) {
  .page-template-page-everbody .page-main {
    background-position: bottom;
    background-size: inherit;
  }

  .footer h3 {
    font-size: 30px;
  }

  .infographic-third {
    width: 100%;
    min-height: 0px;
  }

  .infographic-item {
    max-width: 250px;
  }

  .infographics {
    padding: 3em 2em;
    padding-bottom: 0px;
  }

  .column-structure li {
    margin-bottom: 1em;
    margin-left: 30px;
  }

  .infographic-content {
    padding: 3em 0em;
    min-height: 0px;
  }

  .dots-1:after,
  .dots-2:after,
  .dots-3:after,
  .dots-4:after,
  .dots-5:after {
    border-right: 0px;
    border-bottom: $dots;
    bottom: 0;
    left: 0;
    right: 0;
    top: initial;
    height: 0px;
  }

  .dots-1:before,
  .dots-2:before,
  .dots-3:before,
  .dots-4:before,
  .dots-5:before,
  .dots-6:before,
  .dots-6:after {
    display: none;
  }

  .single-post #content.column-structure {
    padding-top: 8em;
  }

  .column-structure {
    padding: 3em 0em;
  }
  .pirate_forms_three_inputs_wrap {
    flex-direction: column;
  }
  .pirate-forms-fields-container .form_field_wrap {
    width: 100%;
  }

  body .pirate-forms-fields-container .form_field_wrap {
    padding-left: 0px;
    padding-right: 0px;
  }

  .testimonials .column-third {
    padding: 6em 1em;
    padding-top: 1em;
  }

  .column-third,
  .column-two-third,
  .column-half,
  .column-sixty,
  .column-fourty,
  .column-2,
  .page-title-box {
    padding: 0.5em 1em;
    margin: 0.5em 0em;
    // margin-bottom: 2em;
  }

  .columm-1,
  .column-2 {
    padding: 2em 1em;
  }

  .page-title-box {
    padding-bottom: 0em;
    margin-bottom: 3em;
  }
  .page-main {
    min-height: 650px;
  }
  .page-title {
    // word-break: break-word;
    // hyphens: auto;
    font-size: 40px;
    font-weight: 600;
  }
  .page-text {
    font-weight: 400;
  }

  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 27px;
  }

  .splashes img {
    margin: 2em auto;
    width: 80%;
  }

  .testimonial-image {
    height: 50vh;
  }
  .footer-logo {
    padding-top: 1em;
  }
  .peanuts {
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 800px) {
  .column-2 {
    border-radius: 0px;
    .column-two-third {
      padding: 0px;
    }
  }
  .main-illustration {
    width: 119%;
    bottom: -60px;
    right: -50px;
  }
}

@media screen and (max-width: 700px) {
  .home-main {
    min-height: 660px;
  }

  .option-text {
    margin-top: 1em;
  }

  .option-content {
    margin-top: 1em;
  }

  .option-buttons:after {
    display: none;
  }

  .js-option-button-1:after,
  .js-option-button-2:after,
  .js-option-button-3:after,
  .js-option-button-4:after {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .sign-up {
    input,
    button {
      display: block;
      width: 100%;
      margin: 1em 0em;
    }
  }

  .option-buttons a {
    width: 80px;
    height: 80px;
  }

  .testimonial-image {
    height: 50vh;
  }

  .button-wrap {
    font-size: 16px;
  }

  .button-round {
    margin: 0em 1em;
  }
}

@media screen and (max-width: 600px) {
  .home-main {
    height: 40vh;
    min-height: 900px;
  }

  .main-illustration {
    width: 220%;
  }
}

@media screen and (max-width: 550px) {
  .title-box {
    padding-top: 33%;
  }
}

@media screen and (max-width: 475px) {
  .home-title {
    font-size: 45px;
  }

  .home-main {
    min-height: 820px;
  }

  .header-logo {
    top: 2em;
    left: 1em;
    width: 200px;
  }

  .option-buttons a {
    width: 60px;
    height: 60px;
  }
}

.testimonials {
  display: none;
}
