<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="build/css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="build/js/calc.min.js"></script>
</head>

<body>


	<section id="app" class="application">
		<div class="modal-overlay"></div>
		<div class="modal">
				<div class="modal-text">
					<h3>Exempel på normalförbrukning:<h3>
					<p>Villa med direktverkande el: <strong>22 000 kWh per år</strong></p>
					<p>Villa med fjärrvärme: <strong>6 000 kWh per år</strong></p>
					<p>Villa med värmepump: <strong>13 000 kWh per år</strong></p>
					<a class="calc-button-close js-close-modal">Stäng<img src="images/close.svg" /></a>
				</div>
			</div>
		<div class="calc-wrapper">



			<form class="calculator">

				<section class="calc-left-half">

				
					<!-- Övre sektionen med inputs/val av hus -->

					<section class="calc-inputs calc-inputs--first">

						<div class="first-inputs">
							<p class="calc-info-text">Hur stor årsförbrukning vill du ha?</p>
							<a class="tooltip"><p>?</p></a>
							<div class="half-width calc-input-wrap">
								<!-- Input för önskad-årsförbrukning -->
								<input class="calc-input only-digits" onFocus="value=''" type="text" name="kwhperyear" v-model="mwhPerYear"></input>
								<span>kWh</span>
							</div>
						</div>

						<!-- Knappar för val av hus -->

						<div class="second-inputs">
							<p class="calc-info-text">Vart vill du montera dina solceller?</p>
							<div class="half-width calc-btn-wrap">
								<div class="btn-single">
									<input class="panel-type-radio" value="panel-roof" type="radio" v-model="panelType">
									<div class="calc-btn on-roof">
										<img src="images/roof.svg" />
									</div>
									<p>På tak</p>
								</div>

								<div class="btn-single">
									<input class="panel-type-radio" value="panel-wall" type="radio" v-model="panelType">
									<div class="calc-btn on-wall">
										<img src="images/wall.svg" />
									</div>
									<p>På vägg</p>
								</div>

								<div class="btn-single">
									<input class="panel-type-radio" value="panel-ground" type="radio" v-model="panelType">
									<div class="calc-btn on-ground">
										<img src="images/floor.svg" />
									</div>
									<p>På mark</p>
								</div>

							</div>
						</div>

					</section>


					<!-- Nedre sektionen med inputs/rangesliders -->

					<section class="calc-inputs calc-inputs--second">

						<div class="third-inputs third-width">
							<p v-if="isRoof" class="calc-info-text">Takarea</p>
							<p v-if="isWall" class="calc-info-text">Väggarea</p>
							<p v-if="isGround" class="calc-info-text">Markarea</p>
							<div class="calc-input-wrap">
								<!-- Input för tak-area -->
								<input class="calc-input only-digits" onFocus="value=''" type="text" name="roofarea" v-model="roofArea"></input>
								<span>m²</span>
							</div>
						</div>

						<div class="third-inputs third-width" v-bind:class="{ disabled: !isRoof }">
							<p v-if="isRoof" class="calc-info-text">Takvinkel</p>
							<p v-if="isWall" class="calc-info-text">Väggvinkel</p>
							<p v-if="isGround" class="calc-info-text">Panelernas vinkel</p>

							<div class="calc-input-wrap calc-input-wrap--range">
								<div class="calc-image-wrap">

									<!-- Här kan du outputa takets grader (vinkel) -->
									<span class="degree-output">
										<span>{{ roofAngle }}</span>
										°
									</span>
									<img class="sun" src="images/solero.svg" />

									<!-- Denna SVG roteras när slidern dras -->
									<img id="roof-panel-image" class="roofpanel" src="images/roofpanel-2.svg" v-bind:style="{ transform: 'rotate(-' + roofAngle + 'deg)'}"
									/>
								</div>
								<input id="roof-angle-slider" class="calc-range" v-model="roofAngle" min="0" max="90" type="range" step="5">
							</div>
						</div>

						<div class="third-inputs third-width">
							<p class="calc-info-text">Riktning</p>
							<div class="calc-input-wrap calc-input-wrap--range">
								<div class="calc-image-wrap">

									<!-- Här kan du outputa direction (S, SÖ, etc) -->
									<span class="direction-output">{{ latitude }}</span>
<!-- 									<img id="panel-direction-image" class="rooftop" src="images/rooftop-2.svg" v-bind:class="latitudeClassObject" v-bind:style="{ transform: 'rotate(' + roofDirection + 'deg)'}"
									/> -->
										<svg id="panel-direction-image" class="rooftop" v-bind:class="latitudeClassObject" v-bind:style="{ transform: 'rotate(' + roofDirection + 'deg)'}" version="1.1" id="Lager_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
										<style type="text/css">
											.st0{fill:none;stroke:#2D4E5F;stroke-width:1.7;stroke-miterlimit:10;}
										</style>
										<g>
											<rect x="10.1" y="50" class="st0 roof-panel-1" width="79.8" height="25.9"/>
											<rect x="10.1" y="24.1" class="st0 roof-panel-2" width="79.8" height="25.9"/>
										</g>
									</svg>
									<img class="latitude-image" src="images/latitude.svg" />
								</div>
								<input id="panel-direction-slider" class="calc-range" v-model="roofDirection" min="-90" max="90" step="10" type="range">
							</div>
						</div>

					</section>

				</section>

				<!-- Högra sektionen med reultat -->

				<section class="calc-right-half">
					<div class="results">

						<p>Du behöver
							<span class="result-output">{{ panelAmount }}</span> solpaneler
							<span v-if="morePanelsNeeded" class="morepanels">Max antal paneler för din yta: {{ maxAmountPanels }}.</span>
							<p v-if="morePanelsNeeded" class="morepanels2">Du vet väl om att det även går att sätta paneler på väggen, och direkt på marken? Kontakta oss så hjälper vi dig.</p>
						</p>

						<hr class="result-hr" />
						<p>Investeringskostnad:</p>
						<p class="morepanels2">Inklusive investeringsbidrad samt ROT-avdrag.</p>
						<p class="result-output">{{ investmentCost }} kr</p>
						<hr class="result-hr" />
						<p>Årsbesparing:</p>
						<p class="result-output"> {{ yearSavings }} kr</p>
						<hr class="result-hr" />
						<p>Återbetalningstid:</p>
						<p class="result-output">{{ paymentTime }} år</p>

					</div>
								<a class="calc-button-close js-close-results">Stäng<img src="images/close.svg" /></a>

				</section>


			</form>

			<a class="calc-button-open js-get-results">Se resultat<img src="images/arrow-right.svg" /></a>
			<a class="calc-button-toggle js-toggle-form">Boka kostnadsfritt besök<img src="images/arrow-right-white.svg" /></a>


		</div>
	</section>




</body>

</html>